.body {
  background-color: rgb(49, 48, 48);
}

.title {
  font-size: 20px;
  color: rgb(161, 160, 160);
  font-weight: bolder;
  padding: 10px;
}
.content {
  border: 5px solid black;
  margin: 10px;
}
